---
import type { MarkdownInstance } from "astro";
import type { Post } from "../../types/post";

import { Image } from "astro:assets";

interface Props {
    posts: MarkdownInstance<Post>[];
}

const { posts } = Astro.props;
---

<section class="section">
    <div class="swiper-container">
        <ul class="swiper-wrapper">
            {
                posts.map(({ frontmatter }) => (
                    <li class="swiper-slide">
                        <a class="link" href={`/posts/${frontmatter.slug}`}>
                            <Image
                                class="slider-img"
                                src={`/${frontmatter.image.url}`}
                                alt={frontmatter.image.alt}
                                width="400"
                                height="395"
                            />
                        </a>
                    </li>
                ))
            }
        </ul>
    </div>
</section>

<style>
    .section {
        margin-bottom: 60px;
    }
    .link {
        display: flex;
        height: 100%;
    }
    .slider-img {
        display: block;
        width: 100%;
        object-fit: cover;
        transition: var(--transition-default);
    }
</style>

<script>
    import "swiper/css";

    import Swiper from "swiper";

    const swiper = new Swiper(".swiper-container", {
        loop: true,
        slidesPerView: 3,
        height: 400,
    });
</script>
