---
import type { MarkdownInstance } from "astro";
import type { Post } from "../../types/post";
import { Image } from "astro:assets";

interface Props {
    posts: MarkdownInstance<Post>[];
}

const { posts } = Astro.props;
---

<section class="section">
    <ul id="destination-slider" class="keen-slider">
        {
            posts.map(({ frontmatter }, index) => (
                <li class={`keen-slider__slide number-slide${index}`}>
                    <a class="link" href={`/posts/${frontmatter.slug}`}>
                        <Image
                            class="img"
                            src={`/${frontmatter.image.url}`}
                            alt={frontmatter.image.alt}
                            width="400"
                            height="395"
                        />
                    </a>
                </li>
            ))
        }
    </ul>
</section>

<style>
    .section {
        margin-bottom: 60px;
    }
    .keen-slider {
        height: 400px;
    }
    .link {
        display: flex;
        height: 100%;
    }
    .img {
        height: 100%;
    }
</style>

<script>
    import "keen-slider/keen-slider.min.css";
    import KeenSlider from "keen-slider";

    const slider = new KeenSlider("#destination-slider", {
        loop: true,
        drag: true,
        slides: {
            perView: 3,
        },
    });
</script>
