/* grid */
.container {
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1300px;
    width: 100%;
    height: 100%;

    &.xl {
        max-width: 1440px;
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* posts md */
.md-first-letter {
    float: left;
    margin-right: 13px;
    line-height: 50px;
    font-size: 50px;
    font-weight: var(--weight-light);
    color: var(--color-black);
}
.paragraph {
    margin-top: 10px;
    font-family: var(--family-lora);
    color: var(--color-dark);
}
.md-link {
    color: var(--color-secondary);
}
.md-link-dark {
    color: var(--color-black);
}
.md-space {
    height: 9px;
}
.md-blockquote {
    margin-top: 10px;
    text-align: center;
    padding-top: 38px;
    padding-bottom: 36px;
    line-height: 33px;
    font-size: 44px;
    font-family: var(--family-epic-ride);
    font-style: italic;
    font-weight: var(--weight-regular);
    color: var(--color-dark);
}
.md-images {
    display: flex;
    gap: 12px;
    padding-top: 58px;
}
.md-img-description {
    text-align: center;
    margin-top: -15px;
    letter-spacing: var(--letter-spacing-minus);
    line-height: 63px;
    font-size: 15px;
    font-family: var(--family-lora);
    font-style: italic;
    font-weight: var(--weight-regular);
    color: var(--color-grey-2);
}

/* posts ui */
.ui-post-place {
    line-height: 1em;
    font-size: 44px;
    font-family: var(--family-epic-ride);
    font-weight: var(--weight-regular);
    color: var(--color-dark);

    &:hover {
        color: var(--color-black);
    }

    & > a {
        color: inherit;
    }
}
.ui-post-title {
    text-transform: uppercase;
    margin-bottom: 13px;
    letter-spacing: 0.2em;
    line-height: 1.33em;
    font-size: 24px;
    font-family: var(--family-montserrat);
    font-weight: var(--weight-regular);
    color: var(--color-black);

    &.m-l {
        margin: 21px 0 11px;
    }

    &.m-m {
        margin: 16px 0 13px;
    }
}
.ui-post-category {
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: var(--letter-spacing-default-2);
    font-size: 10px;
    line-height: 1.8em;
    color: var(--color-grey-2);
    cursor: pointer;
    transition: var(--transition-default);

    &:hover {
        color: var(--color-black-0);
    }
}
