---
import type { EHeader } from "../../../types/header";

import HeaderDestination from "./HeaderDestinations.astro";
import HeaderNav from "./HeaderNav.astro";
import HeaderRight from "./HeaderRight.astro";

interface Props {
    type: EHeader;
}

const { type } = Astro.props;
---

<header
    class:list={[
        "header",
        { base: type === "base" },
        { "base-compact": type === "base-compact" },
        { transparent: type === "transparent" },
        { centered: type === "centered" },
        { full: type === "full" },
    ]}
>
    <div
        class:list={[
            "container",
            { xl: type === "transparent", full: type === "full" },
        ]}
    >
        <div class="box">
            <HeaderDestination type={type} />
            <HeaderNav type={type} />
            <HeaderRight type={type} />
        </div>
    </div>

    <style>
        .header {
            background-color: var(--color-primary);
            height: 60px;

            &.transparent {
                background-color: var(--color-white);
                height: 100px;
            }

            &.centered {
                background-color: var(--color-white);
                height: 100px;
            }

            &.sticky {
                position: sticky;
                top: 0;
                left: 0;
                width: 100%;
                background-color: var(--color-white);
                border-bottom: 1px solid var(--color-border-2);
                z-index: var(--z-index-100);
            }

            &.full {
                padding: 0 40px;
                height: 100px;
                background-color: var(--color-white);
            }
        }

        .box {
            display: grid;
            grid-template: auto / 350px 1fr 350px;
            align-items: center;
            height: 100%;
        }
    </style>
</header>

<script>
    import { throttle } from "../../../utils/utils";

    const header = document.querySelector("header") as HTMLElement;

    function handleScroll() {
        const currentScroll = document.documentElement.scrollTop;
        currentScroll > 200
            ? header?.classList.add("sticky")
            : header?.classList.remove("sticky");
    }

    handleScroll();

    document.addEventListener("scroll", throttle(handleScroll, 50));
    // document.addEventListener("scroll", handleScroll);

    document.addEventListener("astro:before-unmount", () => {
        document.removeEventListener("scroll", handleScroll);
    });
</script>
