---
import Layout from "../layouts/Layout.astro";
import { EHeader } from "../types/header";
---

<Layout
    title="Backpack Traveler | Page not found"
    headerType={EHeader.BASE_COMPACT}
>
    <section class="section">
        <div class="box">
            <h1 class="title">404</h1>
            <h3 class="sub-title">Page not found</h3>
            <p class="text">
                Oops! The page you are looking for does not exist. It might have
                been moved or deleted.
            </p>
            <a class="link" href="/">Back to home</a>
        </div>
    </section>
</Layout>

<style>
    .section {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .box {
        text-align: center;
    }
    .title {
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-m);
        line-height: 1.25em;
        font-size: 40px;
    }
    .sub-title {
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-m);
        margin-top: 35px;
        line-height: 1.33em;
        font-size: 24px;
    }
    .text {
        margin-top: 10px;
        color: var(--color-dark);
        font-family: var(--family-lora);
    }
    .link {
        margin-top: 30px;
        padding: 9px 41px 10px;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-m);
        line-height: 2em;
        font-size: 12px;
        color: var(--color-white);
        background-color: var(--color-black);
        outline: none;
        border: 1px solid transparent;
        transition: var(--transition-default-4);

        &:hover {
            background-color: var(--color-dark-4);
        }
    }
</style>
