---
import BaseLayout from "../layouts/Layout.astro";
---

<BaseLayout title="UI preview" type="long">
    <section>
        <div class="container">
            <h1 class="title">POST MD</h1>
            <ul class="list">
                <li class="item">
                    <span class="case">md-first-letter</span>
                    <p>
                        <span class="md-first-letter"> L </span>
                        orem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
                        inventore unde minus optio corrupti illum mollitia dolore
                        nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-paragraph</span>
                    <p class="md-paragraph">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-underline</span>
                    <p class="md-underline">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-bold</span>
                    <p class="md-bold">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-link, md-text-accent</span>
                    <p class="md-link">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-link-dark</span>
                    <p class="md-link-dark">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case space">md-space-xs</span>
                    <p class="md-space-xs"></p>
                </li>
                <li class="item">
                    <span class="case space">md-space</span>
                    <p class="md-space"></p>
                </li>
                <li class="item">
                    <span class="case space">md-space-s</span>
                    <p class="md-space-s"></p>
                </li>
                <li class="item">
                    <span class="case space">md-space-ms</span>
                    <p class="md-space-ms"></p>
                </li>
                <li class="item">
                    <span class="case space">md-space-md</span>
                    <p class="md-space-md"></p>
                </li>
                <li class="item">
                    <span class="case space">md-space-lg</span>
                    <p class="md-space-lg"></p>
                </li>
                <li class="item">
                    <span class="case space">md-space-xl</span>
                    <p class="md-space-xl"></p>
                </li>
                <li class="item">
                    <span class="case space">md-space-xxl</span>
                    <p class="md-space-xxl"></p>
                </li>
                <li class="item">
                    <span class="case">md-blockquote</span>
                    <p class="md-blockquote">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-img-description</span>
                    <p class="md-img-description">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-list-title</span>
                    <p class="md-list-title">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-list-item</span>
                    <p class="md-list-item">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
                <li class="item">
                    <span class="case">md-note</span>
                    <p class="md-note">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Consequuntur inventore unde minus optio corrupti illum
                        mollitia dolore nam culpa autem.
                    </p>
                </li>
            </ul>
            <h1 class="title">POST UI</h1>
            <ul class="list">
                <li class="item">
                    <span class="case">ui-post-destination</span>
                    <p>
                        <span class="ui-post-destination"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur inventore unde minus optio
                            corrupti illum mollitia dolore nam culpa autem.</span
                        >
                    </p>
                </li>
                <li class="item">
                    <span class="case">ui-post-title</span>
                    <p>
                        <span class="ui-post-title"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur inventore unde minus optio
                            corrupti illum mollitia dolore nam culpa autem.</span
                        >
                    </p>
                </li>
                <li class="item">
                    <span class="case">ui-post-title m-l</span>
                    <p>
                        <span class="ui-post-title m-l"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur inventore unde minus optio
                            corrupti illum mollitia dolore nam culpa autem.</span
                        >
                    </p>
                </li>
                <li class="item">
                    <span class="case">ui-post-title m-m</span>
                    <p>
                        <span class="ui-post-title m-m"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur inventore unde minus optio
                            corrupti illum mollitia dolore nam culpa autem.</span
                        >
                    </p>
                </li>
                <li class="item">
                    <span class="case">ui-post-title f-s</span>
                    <p>
                        <span class="ui-post-title f-s"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur inventore unde minus optio
                            corrupti illum mollitia dolore nam culpa autem.</span
                        >
                    </p>
                </li>
                <li class="item">
                    <span class="case">ui-post-title f-m</span>
                    <p>
                        <span class="ui-post-title f-m"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur inventore unde minus optio
                            corrupti illum mollitia dolore nam culpa autem.</span
                        >
                    </p>
                </li>
                <li class="item">
                    <span class="case">ui-post-title f-l</span>
                    <p>
                        <span class="ui-post-title f-l"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur inventore unde minus optio
                            corrupti illum mollitia dolore nam culpa autem.</span
                        >
                    </p>
                </li>
                <li class="item">
                    <span class="case">ui-post-category</span>
                    <p>
                        <span class="ui-post-category"
                            >Lorem ipsum dolor sit amet consectetur adipisicing
                            elit. Consequuntur inventore unde minus optio
                            corrupti illum mollitia dolore nam culpa autem.</span
                        >
                    </p>
                </li>
            </ul>
        </div>
    </section>
</BaseLayout>

<style>
    .title {
        margin: 50px 0 30px;
        font-size: 26px;
        font-weight: var(--weight-medium);
    }
    .list {
        display: flex;
        flex-direction: column;
        gap: 35px;
        list-style: number;
    }
    .item {
        padding-bottom: 10px;
        border-bottom: 1px solid #2e2e2e;
    }
    .case {
        display: block;
        margin-bottom: 5px;
        font-weight: 500;

        & > p {
            display: block;
        }

        &.space + p {
            border: 1px solid #2e2e2e;
        }
    }
</style>
