---
import { normalizeBreadcrumbs } from "../utils/utils";

const breadcrumbs = normalizeBreadcrumbs(Astro.url.pathname);
---

<section class="section">
    <div class="container">
        <div class="wrapper">
            <div class="breadcrumbs">
                <a href="/">Home</a>
                {
                    breadcrumbs.map((item) => {
                        return (
                            <div>
                                <span class="divider">&#62;</span>
                                <span class="breadcrumb">{item}</span>
                            </div>
                        );
                    })
                }
            </div>
        </div>
    </div>
</section>

<style>
    .section {
        height: 80px;
        background-color: var(--color-primary);
    }
    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .breadcrumbs {
        display: flex;
        font-size: 14px;
        font-family: var(--family-lora);
        font-weight: var(--weight-medium);
        color: var(--color-dark-2);
    }
    .breadcrumb {
        display: inline-block;
        text-transform: capitalize;
    }
    .divider {
        margin: 0 7px;
    }
</style>
