---
interface Props {
    secondLvl: string;
}
const { secondLvl } = Astro.props;
---

<section class="section">
    <div class="container">
        <div class="wrapper">
            <div class="breadcrumbs">
                <a href="/">Home</a>
                {secondLvl && <span class="divider">&#62;</span>}
                <span>{secondLvl}</span>
            </div>
        </div>
    </div>
</section>

<style>
    .section {
        height: 80px;
        background-color: var(--color-primary);
    }
    .wrapper {
        display: flex;
        align-items: center;
        height: 100%;
    }
    .breadcrumbs {
        text-transform: capitalize;
        font-size: 14px;
        font-family: var(--family-lora);
        font-weight: var(--weight-medium);
        color: var(--color-dark-2);

        & > * {
            display: inline-block;
        }
    }
    .divider {
        margin: 0 7px;
    }
</style>
