---
interface Props {
    posts: MarkdownInstance<Post>[];
}

const { posts } = Astro.props;
const categoriesList = [
    ...new Set(posts.map((post) => post.frontmatter.category)),
];
import type { Post } from "../types/post";
import type { MarkdownInstance } from "astro";
---

<div class="categories">
    <div class="ui-sidebar-header-box">
        <h6 class="ui-sidebar-title">Categories</h6>
        <span class="ui-sidebar-line"></span>
    </div>
    <ul class="list">
        {
            categoriesList.map((category) => (
                <li class="item">
                    <a href={`/category/${category}`} class="link">
                        {category}
                    </a>
                </li>
            ))
        }
    </ul>
</div>

<style>
    .categories {
        text-align: center;
    }
    .list {
        text-align: start;
    }
    .item {
        margin-left: 15px;
        padding: 9px 0;
        line-height: 1.8em;
        font-size: 10px;
        font-weight: var(--weight-medium);
    }
    .link {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-default);
        color: var(--color-grey-2);

        &:before {
            position: absolute;
            content: "";
            left: -15px;
            top: 4px;
            width: 5px;
            height: 5px;
            background-color: var(--color-accent);
        }

        &:hover {
            color: var(--color-black);
        }
    }
</style>
