---
import { Image } from "astro:assets";
---

<div class="author">
    <Image
        src="/author/avatar.png"
        width={272}
        height={272}
        alt="Me tuning camera to photoset"
    />
</div>

<style>
    .author {
        text-align: center;
    }
</style>
