---
import type { MarkdownInstance } from "astro";
import type { Post } from "../../types/post";

interface Props {
    posts: MarkdownInstance<Post>[];
}

const { posts } = Astro.props;

const categories = [
    ...new Set(posts.map(({ frontmatter }) => frontmatter.categories).flat()),
];
---

<div class="categories" id="categories">
    <div class="ui-sidebar-header-box">
        <h6 class="ui-sidebar-title">Categories</h6>
        <span class="ui-sidebar-line"></span>
    </div>
    <ul class="list">
        {
            categories.map((category) => (
                <li class="item">
                    <a href={`/category/${category}`} class="link">
                        {category}
                    </a>
                </li>
            ))
        }
    </ul>
</div>

<style>
    .categories {
        text-align: center;
        max-width: inherit;
        width: inherit;

        &.sticky {
            position: sticky;
            top: 70px;
        }
    }
    .list {
        text-align: start;
    }
    .item {
        margin-left: 15px;
        padding: 9px 0;
        line-height: 1.8em;
        font-size: 10px;
        font-weight: var(--weight-medium);
    }
    .link {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-default);
        color: var(--color-grey-2);

        &:before {
            position: absolute;
            content: "";
            left: -15px;
            top: 4px;
            width: 5px;
            height: 5px;
            background-color: var(--color-accent);
        }

        &:hover {
            color: var(--color-black);
        }
    }
</style>

<script>
    import { throttle } from "../../utils/utils";

    const categories = document.getElementById("categories") as HTMLElement;
    const categoriesOffset = categories.offsetTop;

    function handleScroll() {
        const currentScroll = document.documentElement.scrollTop;

        currentScroll > categoriesOffset
            ? categories?.classList.add("sticky")
            : categories?.classList.remove("sticky");
    }

    handleScroll();

    document.addEventListener("scroll", throttle(handleScroll, 50));
    // document.addEventListener("scroll", handleScroll);

    document.addEventListener("astro:before-unmount", () => {
        document.removeEventListener("scroll", handleScroll);
    });
</script>
