---
import type { MarkdownInstance } from "astro";
import type { Post } from "../../types/post";
import { Image } from "astro:assets";

interface Props {
    posts: MarkdownInstance<Post>[];
    destination: string;
}
const { posts, destination } = Astro.props;

const relatedPosts = posts.filter(
    (post) => post.frontmatter.country === destination,
);
---

<div class="map">
    <Image
        src={`/destinations-maps/${destination.replace(" ", "-").toLowerCase()}-map.png`}
        width={230}
        height={230}
        alt={`${destination} map with destinations marks`}
    />
    <h3 class="destination">{destination}</h3>
    <span class="related-articles"
        >{
            relatedPosts.length !== 0
                ? `${relatedPosts.length} related articles`
                : "coming soon!"
        }</span
    >
    <a
        class="ui-button-outline"
        href={`/destination-related-posts/${destination.replace(" ", "-").toLowerCase()}`}
        >{
            relatedPosts.length !== 0 ? `See articles` : "Another destinations"
        }</a
    >
</div>

<style>
    .map {
        text-align: center;
        padding: 42px 35px;
        border: 1px solid var(--color-border-3);
    }

    .destination {
        margin: 0 0 2px;
        text-transform: capitalize;
        letter-spacing: 0;
        line-height: 1em;
        font-size: 44px;
        font-family: var(--family-epic-ride);
        color: var(--color-dark);
    }

    .related-articles {
        display: block;
        margin-bottom: 22px;
        text-transform: uppercase;
        letter-spacing: var(--letter-spacing-default);
        font-size: 10px;
        color: var(--color-grey-2);
        font-family: var(--family-montserrat);
    }
</style>
