---
import { Image } from "astro:assets";
---

<div class="promo">
    <a href="/">
        <Image
            class="img"
            src="/promo/promo-our-books.jpg"
            width={273}
            height={543}
            alt="Look for our books"
        />
    </a>
</div>
