---
import type { MarkdownInstance } from "astro";
import type { Post } from "../../types/post";

import BaseLayout from "../../layouts/Layout.astro";
import Breadcrumbs from "../../components/Breadcrumbs.astro";
import PostsListMasonry from "../../components/PostsListMasonry.astro";

const posts = Object.values(
    import.meta.glob<MarkdownInstance<Post>>("../../pages/posts/*.md", {
        eager: true,
    }),
);

const postsList = posts.sort(
    (a, b) =>
        +new Date(b.frontmatter.pubDate) - +new Date(a.frontmatter.pubDate),
);
---

<BaseLayout title="Destinations archive list" type="short">
    <Breadcrumbs />
    <section class="section">
        <div class="container">
            <PostsListMasonry posts={postsList} />
        </div>
    </section>
</BaseLayout>

<style>
    .section {
        padding: 70px 0 40px;
    }
    .row {
        display: flex;
        gap: 70px;
    }
</style>
