---
import type { ECategory } from "../types/category";

interface Props {
    category: ECategory;
}

const category = Astro.params.category ?? "Backpack Traveler Category";
const { category: categoryProps } = Astro.props;

if (!category || !categoryProps) {
    Astro.redirect("/not-found");
}

import BaseLayout from "./Layout.astro";
import PostsCategoryPreview from "../components/PostsCategoryPreview/PostsCategoryPreview.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Sidebar from "../components/Sidebar/Sidebar.astro";
import { EHeader } from "../types/header";
---

<BaseLayout title={category} headerType={EHeader.TRANSPARENT}>
    <Breadcrumbs />
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-posts">
                    <PostsCategoryPreview category={categoryProps} />
                </div>
                <div class="col-aside">
                    <Sidebar
                        showAuthor
                        showWorldMap
                        showInstagram
                        showSocials
                        showPromo
                        showLatestPosts
                        showNewsletter
                        showCategories
                    />
                </div>
            </div>
        </div>
    </section>
</BaseLayout>

<style>
    .section {
        padding: 70px 0 40px;
    }
    .row {
        display: flex;
        gap: 50px;
    }
    .col-posts {
        width: 75%;
    }
    .col-aside {
        width: 25%;
    }
</style>
