---
import BaseLayout from "./Layout.astro";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import PostsListMasonry from "../components/PostsListMasonry.astro";

const { destination } = Astro.params;

const capitalizedDestination = destination!
    .split("-")
    .map((word) => word[0].toUpperCase() + word.slice(1))
    .join(" ");
---

<BaseLayout title={capitalizedDestination} type="short">
    <Breadcrumbs />
    <section class="section">
        <div class="container">
            <PostsListMasonry destination={destination!} />
        </div>
    </section>
</BaseLayout>

<style>
    .section {
        padding: 70px 0 40px;
    }
    .row {
        display: flex;
        gap: 70px;
    }
</style>
