---
import type { EHeader } from "../types/header";
import type { EFooter } from "../types/footer";

import Header from "../components/common/header/Header.astro";
import Footer from "../components/common/footer/Footer.astro";
import ScrollTop from "../components/ScrollTop.astro";

import "../styles/reset.css";
import "../styles/global.css";
import "../styles/ui.css";

interface Props {
    title: string;
    footerType?: EFooter;
    headerType: EHeader;
}

const { title, headerType, footerType } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" href="/favicon-32x32.png" sizes="32x32" />
        <link rel="icon" href="/favicon-192x192.png" sizes="192x192" />
        <link rel="apple-touch-icon" href="/favicon-180x180.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&family=Montserrat:wght@400;500&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <Header type={headerType} />
        <main class="layout">
            <slot />
        </main>
        <ScrollTop />
        <Footer type={footerType} />
    </body>
</html>

<style>
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    .layout {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
</style>
